@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

:root {
  --primario : #8357e5;
  --bg-cinza: #E5E5E5;
  --branco: #FFFFFF;
  --preto: #000000;
}

body {
  font-family: 'Montserrat', sans-serif;
}